<header class="header">
  <a class="header__logo" href="index.html" title="Ir a la home de Adalab">
    <img
      src="./assets/images/adalab-logo-155x61.png"
      alt="Logo Adalab"
      tittle="Logo Adalab"
    />
  </a>
  <nav class="header__menu">
    <ul class="header__menu__links">
      <li>
        <a href="https://medium.com/adalab" title="Ir al blog" target="_blank"
          >Blog</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/contacto/"
          title="Ir al contacto"
          target="_blank"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
