.main {
  width: 100%;
  height: 100vh;
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__tittle {
    color: $light-color;
    margin: 0;
    font-size: 1.875rem;
    line-height: 2.5rem;
    text-transform: capitalize;
    @media all and (min-width: $tablet) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    & span {
      display: block;
      text-align: center;
    }
  }
}
