.header {
  background-color: $light-color;
  width: 100%;
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  @media all and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo {
    display: inline-block;
    width: 9.688rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    @media all and (min-width: $tablet) {
      padding: 1.25rem 1.875rem 1.25rem 1.875rem;
    }
  }
  &__menu__links {
    margin: 0;
    padding-left: 0;
    width: 9.688rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $dark-color;
    margin-bottom: 0.8125rem;
    font-size: 1rem;
    @media all and (min-width: $tablet) {
      width: auto;
      justify-content: flex-end;
      margin-right: 1.25rem;
    }
    & li {
      display: inline-block;
      & a {
        color: $dark-color;
        padding-top: 0.3125rem;
        padding-bottom: 0.8125rem;
        text-transform: uppercase;
        @media all and (min-width: $tablet) {
          padding: 1.25rem 0.625rem 1.25rem 0.625rem;
        }
        &:first-child {
          padding-right: 0.625rem;
        }
        &:nth-child(2) {
          padding-left: 0.625rem;
        }
      }
    }
  }
}
