@import "core/variables";
@import "core/mixins";
@import "core/reset";
@import "layout/page";
@import "layout/header";
@import "pages/index";

/* GENERIC */

* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}

:root {
  /*COLOR*/
  --main-color: #3cdbc0;
  --light-color: #ffffff;
  --dark-color: #4a4a4a;
  /* FONTS */
  --primary-font: "Rubik", sans-serif;
}

html {
  font-family: var(--primary-font);
  font-size: 16px;
}

/* HEADER */

.header__menu {
  background-color: var(--light-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}
.header__menu__logo {
  display: inline-block;
  width: 9.688rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.header__menu__links {
  margin: 0;
  padding-left: 0;
  width: 9.688rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--dark-color);
  margin-bottom: 0.8125rem;
  font-size: 1rem;
}
.header__menu__links li {
  display: inline-block;
}

.header__menu__links li a {
  color: var(--dark-color);
  padding-top: 0.3125rem;
  padding-bottom: 0.8125rem;
  text-transform: uppercase;
}

.header__menu__links li a:first-child {
  padding-right: 0.625rem;
}

.header__menu__links li a:nth-child(2) {
  padding-left: 0.625rem;
}

/* MAIN */

.main {
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__tittle {
  color: var(--light-color);
  margin: 0;
  font-size: 1.875rem;
  line-height: 2.5rem;
  text-transform: capitalize;
}

.main__tittle span {
  display: block;
  text-align: center;
}

@media all and (min-width: 768px) {
  /* HEADER */

  .header__menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__menu__logo {
    width: 9.688rem;
    padding: 1.25rem 1.875rem 1.25rem 1.875rem;
  }

  .header__menu__links {
    margin: 0;
    padding-left: 0;
    width: auto;
    justify-content: flex-end;
    margin-right: 1.25rem;
  }

  .header__menu__links li a {
    padding: 1.25rem 0.625rem 1.25rem 0.625rem;
  }

  /* MAIN */

  .main__tittle {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
